@{ 
    Layout = null;
}
<header class="am-topbar header">
    <div class="am-container-1">
        <div class="left hw-logo">
            <img class="logo" src="/images/logo.png"/>
            @*<img class="word" src="/img/hw-word.png"></img>*@
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse'}">
            <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
        </button>
        <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">

            <div class="am-topbar-left am-form-inline am-topbar-right" role="search">
                <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
                    <li class="hw-menu-active"><a href="/">首页</a></li>
                    @*<li><a href="solutions.html">解决方案</a></li>
                    <li><a href="product-show.html">产品展示 </a></li>*@
                    <li><a href="anli.html">客户案例</a></li>
                    <li><a href="servicecenter.html">服务中心 </a></li>
                    <li><a href="xinwen.html">新闻动态 </a></li>
                    <li><a href="aboutus.html">关于我们</a></li>
                    <li><a href="recruit.html">招贤纳士 </a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
