<?xml version="1.0" encoding="utf-8"?>
<Site xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <webname>DanaZhangCms 网站建站 系统</webname>
    <weburl>http://www.danazhangcms.com</weburl>
    <webcompany>DanaZhangCms</webcompany>
    <webaddress>河南郑州</webaddress>
    <webtel>17737307806</webtel>
    <webfax>-</webfax>
    <webmail>ayzhanglei@gmail.com</webmail>
    <webcrod>豫ICP备8888888号</webcrod>
    <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
    <smsapiurl />
    <smsusername />
    <smspassword />
    <emailsmtp>smtp.qq.com</emailsmtp>
    <emailssl>1</emailssl>
    <emailport>25</emailport>
    <emailfrom>ayzhanglei@gmail.com</emailfrom>
    <emailusername>ayzhanglei@gmail.com</emailusername>
    <emailpassword>123456</emailpassword>
    <emailnickname>Dana</emailnickname>
    <filepath />
    <filesave>1</filesave>
    <fileextension />
    <videoextension />
    <attachsize>0</attachsize>
    <videosize>0</videosize>
    <imgsize>0</imgsize>
    <imgmaxheight>0</imgmaxheight>
    <imgmaxwidth>0</imgmaxwidth>
    <thumbnailheight>0</thumbnailheight>
    <thumbnailwidth>0</thumbnailwidth>
    <watermarktype>0</watermarktype>
    <watermarkposition>9</watermarkposition>
    <watermarkimgquality>80</watermarkimgquality>
    <watermarkpic />
    <watermarktransparency>10</watermarktransparency>
    <watermarktext />
    <watermarkfont />
    <watermarkfontsize>12</watermarkfontsize>
</Site>